$grey: #3c3744;
$highlight-blue: #090c9b;
$blue: #3d52d5;
$light-blue: #b4c5e4;
$white: #fbfff1;

@mixin stoke() {
  font-family: "Stoke", serif;
}

body {
  background: linear-gradient(45deg, darken($grey, 10%), darken($grey, 20%));
  height: 100vh;
  overflow: hidden;
}
.top-bar {
  width: 100%;
  min-height: 10px;
  background-color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: none;
    width: 98%;
    margin: 10px;
    height: 40px;
    font-size: 16pt;
    padding-left: 10px;
    box-sizing: border-box;
    @include stoke();
  }
}
